# Environment Variables for Ludex Store Backend
# Do not commit the actual .env file, this is an example

# Supabase Storage & DB URL
VITE_SUPABASE_URL=https://aimuoopbzoyrllvnjnbd.supabase.co

# MUST BE KEPT SECRET! Use this strictly in the backend. 
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_ANON_KEY=

# AWS Cognito Configuration
VITE_COGNITO_USER_POOL_ID=
VITE_COGNITO_CLIENT_ID=
VITE_COGNITO_DOMAIN=
VITE_COGNITO_REDIRECT_SIGNIN=
VITE_COGNITO_REDIRECT_SIGNOUT=

# Other Integrations
WEB_URL=https://pixlestorage.vercel.app/
LOYALTY_URL=https://ludex-pic.vercel.app/
