# External Space Database URL
EXTERNAL_SPACE_DB_URL=
# Loyalty Card Generator API Endpoint & Key
LOYALTY_API_ENDPOINT=
LOYALTY_API_KEY=

# Django Settings
SECRET_KEY=your_django_secret_key_here
DEBUG=True
